/* Card hover effect */
.movie-card {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border-radius: 25px;
  border: 3px solid black;
}
.movie-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  background-color: rgb(220, 244, 245);
}

/* Image zoom on hover */
.movie-img {
  transition: transform 0.3s;
}
.movie-card:hover .movie-img {
  transform: scale(1.05);
}
.card-img-top.movie-img {
  width: 350px; /* fixed width */
  height: 450px; /* fixed height */
  object-fit: fill; /* cover without distortion */
  transition: transform 0.3s;
  border-radius: 10px;
}

/* Button hover scale */
.hover-scale {
  transition: transform 0.2s;
}
.hover-scale:hover {
  transform: scale(1.05);
}
